$color-primary: #38a169; // .text-green-600
$color-primary-light: #48bb78; // .text-green-500

$color-default: #4a5568; // .text-gray-700
$color-default-light: #a0aec0; // .text-gray-500
$color-default-lightest: #cbd5e0; // .text-gray-400

$color-danger: #e53e3e; // .text-red-600
$color-danger-light: #fc8181; // .text-red-400

$border-default: #e2e8f0; // .border-gray-300

$bg-light: #edf2f7; // .bg-gray-200
